<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Layout</title>
    <link rel="stylesheet" href='{{javascriptStylesheetSrc "application"}}'>
    <!-- Render the partial template called `css-$current_template` here -->
    {{ partial "css" }}
  </head>
  <body>
    <!-- render the partial template called `header-$current_template` here -->
    {{ partial "header" }}
    <!-- Render the current template here -->
    This is the {{ current }} page.
    {{ yield }}
    <!-- render the partial template called `footer-$current_template` here -->
    {{ partial "footer" }}

    <script>
      window.ApplicationConfig = {
        assetsURL: "{{assetsURL}}"
      };
    </script>
    <script src='{{javascriptSrc "application"}}'></script>
    {{if isDev}}
      <script>
        console.log(">> Development: Listening and serving assets on {{assetsURL}}");
        new EventSource("{{assetsURL}}/esbuild").addEventListener("change", () => location.reload());
      </script>
    {{end}}
  </body>
</html>
